a:visited {
  color: #fff;
  text-decoration: none; }

body {
  overflow: hidden; }

.lista-user {
  position: absolute;
  max-width: 24%;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  background: #f2f2f2;
  overflow-y: scroll; }
  .lista-user::-webkit-scrollbar {
    width: 12px;
    background: #ddd;
  }
  .lista-user::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #a45540;
    border: 3px solid #ddd;
  }
  .lista-user__config {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .lista-user__opc {
    width: 100px;
    line-height: 4em;
    background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.3)));
    background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    background: #A55540 -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    color: #fff;
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .lista-user__opc .config {
      font-size: 3em; }
    .lista-user__opc:hover {
      color: #fff; }
  @media (max-width: 1400px) {
    .lista-user .lista-user__config {
      margin-left: 0; }
    .lista-user .lista-user__opc {
      margin-left: 1em !important; }
      .lista-user .lista-user__opc:hover {
        -webkit-box-shadow: 37px 0 rgba(0, 0, 0, 0.4) inset, -36px 0 rgba(0, 0, 0, 0.4) inset;
        box-shadow: 37px 0 rgba(0, 0, 0, 0.4) inset, -36px 0 rgba(0, 0, 0, 0.4) inset; } }
  @media (max-width: 1025px) {
    .lista-user .lista-user__config {
      margin-left: -1.95em; }
    .lista-user .lista-user__opc {
      margin-left: 0.3em !important; }
      .lista-user .lista-user__opc:hover {
        -webkit-box-shadow: 36px 0 rgba(0, 0, 0, 0.4) inset, -36px 0 rgba(0, 0, 0, 0.4) inset;
        box-shadow: 36px 0 rgba(0, 0, 0, 0.4) inset, -36px 0 rgba(0, 0, 0, 0.4) inset; } }

.tiempo_conexion {
  margin-top: -31px;
  font-size: 0.6em !important;
}

.lista-caja {
  list-style: none;
  padding-left: 0;
  margin-top: 5em;
  margin-bottom: 0; }
  .lista-caja__user {
    line-height: 3em;
    background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.3)));
    background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    background: #A55540 -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    margin-bottom: 0.1em;
    margin-left: -0.7em;
    font-size: 1.3em;
    padding-left: 2.5em;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: -6px 0 rgba(0, 0, 0, 0.4) inset;
    box-shadow: -6px 0 rgba(0, 0, 0, 0.4) inset;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .lista-caja__user:hover {
      -webkit-box-shadow: -6px 0 rgb(247, 179, 162) inset;
      box-shadow: -6px 0 rgb(247, 179, 162) inset; }
  .lista-caja__link {
    color: #fff;
    text-decoration: none; }
    .lista-caja__link:hover, .lista-caja__link:active, .lista-caja__link:link, .lista-caja__link:visited {
      color: #fff;
      text-decoration: none; }
  .lista-caja span {
    font-size: 2em;
    position: absolute;
    top: 0.5em;
    left: 0.1em;
    color: #cc0011; }
  .lista-caja__activo {
    color: #1ae61a !important; }
  @media (max-width: 1400px) {
    .lista-caja .lista-caja__user {
      width: 109%; } }
  @media (max-width: 1025px) {
    .lista-caja .lista-caja__user {
      width: 113.5%; } }

.chat-container {
  background: #f2f2f2;
  width: 76%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0.15em;
  padding: 0; }

.chat-caja {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 440px;
  padding: 0 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .chat-caja::-webkit-scrollbar {
    width: 12px;
    background: #ddd;
  }

  .chat-caja::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #a45540;
    border: 3px solid #ddd;
  }
  .chat-caja h2 {
    font-size: 2em; }
  .chat-caja__content {
    width: 100%;
    min-height: 4em;
    padding: 1em;
    font-size: 1.3em;
    color: #fff;
    border-radius: 10px; }
    .chat-caja__content.right {
      background: rgba(140, 85, 54, 0.9); }
    .chat-caja__content.left {
      background: rgba(73, 80, 75, 0.8); }

.enviado,
.recibido {
  border-top: 1px solid rgba(0, 0, 0, 0.3); }

.enviado {
  text-align: right; }

.redactar {
  width: 100%;
  background: #f2f2f2; }
  .redactar__caja {
    width: 100%;
    height: 100%; }
  .redactar__escribir {
    width: 90%;
    height: 65px;
    position: absolute;
    bottom: 0.1em;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
    border: none;
    resize: none;
    padding-top: 1.3em;
    padding-left: 3em;
    font-size: 20px;
    overflow-y: auto;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold; }
    .redactar__escribir:focus {
      color: #000; }
      .redactar__escribir::-webkit-scrollbar {
        width: 12px;
        background: #ddd;
      }

      .redactar__escribir::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #a45540;
        border: 3px solid #ddd;
      }
  .redactar__emoji {
    position: absolute;
    left: 0.5em;
    bottom: 0;
    z-index: 1000; }
    .redactar__emoji .icon-emoji {
      font-size: 3.5em;
      color: #A55540;
      cursor: pointer; }
  .redactar__img {
    list-style: none;
    min-width: 450px;
    max-width: 450px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 5em;
    left: -0.3em;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .redactar__img::-webkit-scrollbar {
      width: 12px;
      background: #ddd;
    }

    .redactar__img::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: #a45540;
      border: 3px solid #ddd;
    }
    .redactar__img li {
      width: 60px;
      font-size: 32px;
      display: inline-block;
      padding: 0.5em 0.8em;
      margin: 4px;
      cursor: pointer; }
  .redactar__btn {
    position: absolute;
    border-radius: 50%;
    bottom: 0.01em;
    font-size: 4em;
    background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.3)));
    background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    background: #A55540 -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.3));
    color: #fff;
    border: none;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s; }
    .redactar__btn:hover {
      background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5)));
      background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
      background: #A55540 -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
      background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)); }
    .redactar__btn:active {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }

.mostrar_emoji {
  max-height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

@media (max-width: 1400px) {
  .chat-caja {
    height: 575px; }
  .redactar__btn {
    width: 70px;
    height: 70px;
    padding: 0 0.2em;
    right: 0.4em; } }

@media (max-width: 1025px) {
  .chat-caja {
    height: 440px; }
  .redactar__btn {
    padding: none;
    width: 65px;
    height: 65px;
    right: 0.1em; } }
