body, html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/static/img/parallax-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 120vh;
    background-position: center 0;
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
  background: #ddd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #a45540;
  border: 3px solid #ddd;
}

h1 {
    background: linear-gradient(
      rgba(74, 77, 79, 0.8) 40%,
      rgba(74, 77, 79, 0.4) 60%,
      transparent 100%
    );
    margin: 0;
}

footer, h1 {
    line-height: 100vh;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

footer {
    background-image: url(/static/img/parallax-footer.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 125vh;
    background-position: center 0;
}

footer p {
  background: linear-gradient(
      #111 5%,
      rgba(1,1,1,0.8) 15%,
      rgba(1,1,1,0.3) 35%,
      transparent 100%
  );
  margin-top: -1em;
  height: 100%;
}

.page {
    width: 80%;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.mosaico {
  margin-top: -3em;
  height: 270px;
}

.img_1 {
  width: 250px;
}

.img_2 {
  width: 230px;
}

.img_3 {
  width: 210px;
}

.titulo_mosaico {
  position: relative;
  z-index: 2000;
  text-shadow: 0 0 30px rgba(0,0,0,0.9);
}

@media screen and (max-width: 768px) {
  .logo-index {
    width: 70px;
    margin-top: -1.2em;
    margin-left: -1em;
  }

  footer {
    background-size: 100vw 145vh;
  }
}
