<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="/static/img/logo_pestaña.png">

        <!-- FUENTES Y ICONS -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- FIN DE FUENTES Y ICONS -->

        <!-- ARCHIVOS CSS -->
            <link rel="stylesheet" href="/static/css/icon.css">
            <link rel="stylesheet" href="/static/css/font-awesome.min.css">
            <link href="/static/css/bootstrap.min.css" rel="stylesheet">
            <link href="/static/css/material-kit.css" rel="stylesheet">
            <link href="/static/css/demo.css" rel="stylesheet">
        <!-- FIN DE ARCHIVOS CSS -->
        <style type="text/css" media="screen">
						body {
							background: #fff;
							overflow-y: scroll;
							overflow-x: hidden;
						}

						body::-webkit-scrollbar {
							width: 10px;
							background: #ddd;
						}
						body::-webkit-scrollbar-thumb {
							background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5)));
							background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
							background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
						}

            .textarea_scroll {
              overflow-y: auto;
            }

            .textarea_scroll::-webkit-scrollbar {
              width: 8px;
              background: #ddd;
            }
            .textarea_scroll::-webkit-scrollbar-thumb {
              background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5)));
              background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
              background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
            }

            .select__scroll {
              overflow-y: scroll !important;
            }

            .select__scroll::-webkit-scrollbar {
              width: 8px !important;
              background: #ddd !important;
            }
            .select__scroll::-webkit-scrollbar-thumb {
              background: #A55540 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5)))!important;
              background: #A55540 -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5))!important;
              background: #A55540 linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5))!important;
            }
        </style>

	<title>Café Intelectual</title>
</head>
<body>
       <div class="row">
            <div class="container col-xs-10 col-xs-offset-1 col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1" style="position: relative; margin-top: 2em;">
                {% block content %}
                <h2 class="text-center"><span class="material-icons"><img style="margin-top: -20px;" src="/static/img/logo.png" alt="cafe" width="70px" height="70px"></span> Café Intelectual <small>ingresé sus libros</small></h2>
                <div style="border: 1px solid rgba(0,0,0,0.2);">
                  <form style="box-shadow: 2px 0 rgba(0,0,0,0.2);" class="form form-register col-md-6 col-lg-6" id="contenedor" method="post" action="{% url 'Libros' %}" onsubmit="return validar();">
                  {% csrf_token %}
                      <div class="content">
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_titulo">Titulo del libro</label>
                              <input maxlength="150" id="id_titulo" name="titulo" type="text" class="form-control" required autocomplete="off">
                          </div>
													<div class="form-group label-floating">
                              <label class="control-label" for="id_escritor">Autor del libro</label>
                              <input maxlength="32" id="id_escritor" name="escritor" type="text" class="form-control" required autocomplete="off">
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_categoria">Categoría</label>
                              <select list="categoria_lista" maxlength="150" id="id_categoria" name="categoria" type="text" class="form-control select__scroll" required autocomplete="off">
                                <option value=""></option>
																<!--a-->
																<option value="Acción">Acción</option>
																<option value="Ángeles y Demonios">Ángeles y Demonios</option>
																<option value="Amor">Amor</option>
																<option value="Antiguedades y Coleccionables">Antiguedades y Coleccionables</option>
																<option value="Arquitectura">Arquitectura</option>
																<option value="Arte">Arte</option>
																<option value="Astrología">Astrología</option>
																<option value="Auto Ayuda">Auto Ayuda</option>
																<option value="Aventura">Aventura</option>
																<option value="Aventura y Novela">Aventura y Novela</option>
																<!--b-->
																<hr>
																<option value="Biografía y Autobiografía">Biografía y Autobiografía</option>
																<!--c-->
																<hr>
																<option value="Calendarios">Calendarios</option>
																<option value="Casa y Hogar">Casa y Hogar</option>
																<option value="Cocina, Comida y Vinos">Cocina, Comida y Vinos</option>
																<option value="Colecciones Literarias">Colecciones Literarias</option>
																<option value="Computación e Internet">Computación e Internet</option>
																<option value="Conocimiento">Conocimiento</option>
																<option value="Crítica Literaria">Crítica Literaria</option>
																<option value="Cuerpo, Mente y Espíritu">Cuerpo, Mente y Espíritu</option>
																<!--d-->
																<hr>
																<option value="Drama">Drama</option>
																<!--e-->
																<hr>
																<option value="Educación">Educación</option>
																<option value="Erótica">Erótica</option>
																<option value="Estudio de Lenguas Extranjeras">Estudio de Lenguas Extranjeras</option>
																<!--f-->
																<hr>
																<option value="Familia y Relaciones">Familia y Relaciones</option>
																<option value="Fantasía">Fantasía</option>
																<option value="Fantasía y Amor">Fantasía y Amor</option>
																<option value="Fantasmas">Fantasmas</option>
																<option value="Ficción">Ficción</option>
																<option value="Ficción para Niños">Ficción para Niños</option>
																<!--h-->
																<hr>
																<option value="Historia">Historia</option>
																<option value="Historia y Geografía">Historia y Geografía</option>
																<option value="Humor">Humor</option>
																<hr>
																<!--j-->
																<option value="Jardinería">Jardinería</option>
																<option value="Juegos">Juegos</option>
																<hr>
																<!--l-->
																<option value="Lecturas Complementarias">Lecturas Complementarias</option>
																<option value="Lengua y Literatura">Lengua y Literatura</option>
																<option value="Leyenda">Leyenda</option>
																<option value="Leyes">Leyes</option>
																<!--m-->
																<hr>
																<option value="Manualidades y Hobbies">Manualidades y Hobbies</option>
																<option value="Misterio">Misterio</option>
																<!--n-->
																<hr>
																<option value="Narrativa">Narrativa</option>
																<option value="Negocios y Economia">Negocios y Economia</option>
																<option value="Niños y Jóvenes">Niños y Jóvenes</option>
																<option value="Novela">Novela</option>
																<option value="Novela Juvenil">Novela Juvenil</option>
																<hr>
																<!--p-->
																<option value="Pasión">Pasión</option>
																<option value="Poema">Poema</option>
																<option value="Poesía">Poesía</option>
																<option value="Poema y Poesía">Poema y Poesía</option>
																<hr>
																<!--r-->
																<option value="Romántica">Romántica</option>
																<option value="Romántica Erótica">Romántica Erótica</option>
																<!--s-->
																<hr>
																<option value="Salud y Bienestar">Salud y Bienestar</option>
																<option value="Suspenso">Suspenso</option>
																<option value="Superación Personal">Superación Personal</option>
																<!--z-->
																<option value="Zombies">Zombies</option>
																<hr>
																<option value="Otros...">Otros...</option>
                              </select>
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_descripcion">De una breve descripción del libro</label>
                              <textarea maxlength="5000" id="id_descripcion" name="descripcion" type="text" class="form-control textarea_scroll" required autocomplete="off"></textarea>
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_libro">Url del libro proporcionada por Mega.nz</label>
                              <input maxlength="2000" id="id_libro" name="libro" type="url" class="form-control" required autocomplete="off">
                          </div>
                      </div>
                      <div class="footer text-center">
                          <button class="btn btn-simple btn-primary btn-lg"><i class="material-icons" style="font-size:2em;">send</i></button>
                          <input type="hidden" name="next" value="{{ next }}">
                          <a
                          style="text-decoration: none; color: red;" href="/home/"><i class="material-icons" style="font-size:2em; width: 110px;">close</i></a>
                      </div>
                  </form>
                  <div class="col-md-6 col-lg-6">
                      <h3 style="text-align: center; text-transform: uppercase;">Sube el libro a MEGA.nz</h3>
                      <hr>
                      <a href="https://mega.nz" target="_blank">
                        <div style="width: 100%; height: 310px; position: relative;">
                          <img style="position: absolute;" src="/static/img/mega_subir.png" alt="mega" width="100%" height="310px">
                        </div>
                      </a>
                  </div>
                </div>
                <br><br>
                <footer class="footer col-xs-12 col-xs-offset-0 col-ms-12 col-ms-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
                    <div class="container" style="margin-top: 0.8em; margin-left: 50%; transform: translateX(-50%);">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    <a href="#">
                                        CaféIntelectual
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       Sobre Nosotros
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy; 2017, Hecho con <i class="material-icons">favorite</i> Por VEnv para una mejor web.
                        </div>
                    </div>
                </footer>
                {% endblock %}
            </div>
        </div>

	<!-- ARCHIVOS JS -->
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/js/material.min.js"></script>
    <!-- FIN DE ARCHIVOS JS -->

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	    <script src="/static/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	    <script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	    <script src="/static/js/material-kit.js" type="text/javascript"></script>

        <script type="text/javascript">

            $().ready(function(){
                // the body of this function is in assets/material-kit.js
                materialKit.initSliders();
                window_width = $(window).width();

                if (window_width >= 992){
                    big_image = $('.wrapper > .header');

                    $(window).on('scroll', materialKitDemo.checkScrollForParallax);
                }

            });
        </script>
    <!-- FIN DE SLIDER -->
</body>
</html>
