<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/demo.css">
  <link rel="stylesheet" href="/static/css/icon.css">
  <link rel="stylesheet" href="/static/css/material-kit.css">
  <link rel="stylesheet" href="/static/css/parallax.css">
  <link rel="stylesheet" href="/static/css/menu.css">
  <script src="/static/js/jquery.min.js"></script>
  <title>Café Intelectual</title>
</head>
<body>
  <nav>
    <div id="cambiar_icon" class="barra-menu">
      <div class="barra-menu_logo">
        <img src="/static/img/logo.png" alt="café intelectual">
      </div>
      <div id="toggleMenu" class="barra-menu_toggle">
        <span class="toggles-icon material-icons">keyboard_arrow_down</span>
      </div>
    </div>
    <div id="menu" class="barra-opc">
      <div class="barra-opc_lista">
        <ul class="reset">
          <li>
            <a href="/login/"><span class="material-icons">account_circle</span></a>
          </li>
          <li>
            <a href="/add_user/"><span class="c-degradado material-icons">person_add</span></a>
          </li>
          <li>
            <a href="https://mega.nz/register" target="_blank"><span class="c-marron material-icons">cloud_download</span></a>
          </li>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      $('#toggleMenu').click(function(){
        $('#menu').toggleClass('barra-opc_mostrar');
      });

      $('#cambiar_icon').click(function(){
        $('#toggleMenu').toggleClass('toggles-menu')
      });
    </script>
  </nav>

  <h1>Café Intelectual</h1>
  <div class="sobrante">
    <div class="page">
      <h2 class="titulo_mosaico">LIBROS CONOCIDOS</h2>
      <img class="mosaico img_1" src="/static/img/libros/lb1.jpg" alt="">
      <img class="mosaico img_1" src="/static/img/libros/lb2.jpg" alt="">
      <img class="mosaico img_1" src="/static/img/libros/lb3.jpg" alt="">
      <img class="mosaico img_2" src="/static/img/libros/lb4.jpg" alt="">
      <img class="mosaico img_2" src="/static/img/libros/lb5.jpg" alt="">
      <img class="mosaico img_2" src="/static/img/libros/lb6.jpg" alt="">
      <img class="mosaico img_3" src="/static/img/libros/lb7.jpg" alt="">
      <img class="mosaico img_3" src="/static/img/libros/lb8.jpg" alt="">
    </div>
  </div>
  <footer>
    <p>Unete a nuestro sitio web <a href="#"><button class="btn btn-primary" type="button" name="button">ENTRA AQUÍ</button></a></p>
  </footer>

  <script src="/static/js/parallax.js"></script>
  <script src="/static/js/bootstrap-datepicker.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/material-kit.js"></script>
  <script src="/static/js/nouislider.min.js"></script>
</body>
</html>
