<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="icon" type="image/png" href="/static/img/logo_pestaña.png">

        <!-- FUENTES Y ICONS -->
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- FIN DE FUENTES Y ICONS -->

        <!-- ARCHIVOS CSS -->
            <link rel="stylesheet" href="/static/css/icon.css">
            <link rel="stylesheet" href="/static/css/font-awesome.min.css">
            <link href="/static/css/bootstrap.min.css" rel="stylesheet">
            <link href="/static/css/material-kit.css" rel="stylesheet">
            <link href="/static/css/demo.css" rel="stylesheet">
        <!-- FIN DE ARCHIVOS CSS -->
        <style type="text/css" media="screen">
						body {
							background: #eee !important;
							overflow-y: scroll;
							overflow-x: hidden;
						}

						body::-webkit-scrollbar {
						  width: 12px;
						  background: #ddd;
						}

						body::-webkit-scrollbar-thumb {
						  border-radius: 50px;
						  background: #a45540;
						  border: 3px solid #ddd;
						}
        </style>

	<title>Café Intelectual</title>
</head>
<body>
       <div class="row">
            <div class="container col-xs-10 col-xs-offset-1 col-ms-10 col-ms-offset-1 col-md-10 col-md-offset-1" style="position: relative; margin-top: 2em;">
                {% block content %}
                <h2 class="text-center"><span class="material-icons"><img style="margin-top: -20px;" src="/static/img/logo.png" alt="cafe" width="70px" height="70px"></span> Café Intelectual <small>regístro de usuario</small></h2>
                <div style="border: 1px solid rgba(0,0,0,0.2);">
                  <form style="box-shadow: 2px 0 rgba(0,0,0,0.2);" class="form form-register col-md-6 col-lg-6" id="contenedor" method="post" action="{% url 'add_user' %}" onsubmit="return validar();">
                  {% csrf_token %}
                      <div class="content">
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_first_name">Nombre</label>
                              <input maxlength="30" id="id_first_name" name="first_name" type="text" class="form-control" required autocomplete="off">
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_last_name">Apellido</label>
                              <input maxlength="30" id="id_last_name" name="last_name" type="text" class="form-control" required autocomplete="off">
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_email">Correo tipo Gmail Ejemplo@gmail.com</label>
                              <input maxlength="254" id="id_email" name="email" type="email" class="form-control" required autocomplete="off">
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_username">Nombre de usuario</label>
                              <input maxlength="30" id="id_username" name="username" type="text" class="form-control" required autocomplete="off">
                          </div>
                          <div class="form-group label-floating">
                              <label class="control-label" for="id_password">Contraseña</label>
                              <input maxlength="20" id="id_password" name="password" type="password" class="form-control" required autocomplete="off">
                          </div>
                      </div>
                      {% if form.errors %}
                          <div class="alert alert-danger">
                              <div class="container-fluid">
                                   <div class="alert-icon">
                                      <i class="material-icons">error_outline</i>
                                  </div>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                  </button>
																	<style media="screen">
																		ul {
																			list-style: none;
																		}
																	</style>
                                  <b>Alerta de Error:</b>
																	{{ form.first_name.errors }}
																	{{ form.last_name.errors }}
																	{{ form.email.errors }}
																	{{ form.username.errors }}
																	{{ form.password.errors }}
                              </div>
                          </div>
                      {% endif %}
                      <div class="footer text-center">
                          <button class="btn btn-simple btn-primary btn-lg"><i class="material-icons" style="font-size:2em;">send</i></button>
                          <input type="hidden" name="next" value="{{ next }}">
                          <a style="text-decoration: none; color: red;" href="/add_user/"><i class="material-icons" style="font-size:2em; width: 110px;">close</i></a>
                      </div>
                      <hr style="margin: 0;">
                      <div style="text-align: center; width: 100%;">
                          <p>¿Ya tienes cuenta? <a style="line-height: 2em;" href="/login/">¡Logueate!</a></p>
                      </div>
                  </form>
                  <div class="col-md-6 col-lg-6">
                      <h3 style="text-align: center; text-transform: uppercase;">Crear cuenta en MEGA.nz</h3>
                      <hr>
                      <p style="text-align: justify;">Es necesesario crear la cuenta para un mejor flujo del contenido, si ya tienes una cuenta solo prosigue con el inicio de sesión de Café intelectual, de lo contrario crea tu cuenta</p>
                      <a href="https://mega.nz/register" target="_blank">
                        <div style="width: 100%; height: 265px; position: relative;">
                          <img style="position: absolute;" src="/static/img/mega.png" alt="mega" width="100%" height="215px">
                        </div>
                      </a>
                  </div>
                </div>
                <br><br>
                <footer class="footer col-xs-12 col-xs-offset-0 col-ms-12 col-ms-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
                    <div class="container" style="margin-top: 0.8em; margin-left: 50%; transform: translateX(-50%);">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    <a href="#">
                                        CaféIntelectual
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       Sobre Nosotros
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy; 2017, Hecho con <i class="material-icons">favorite</i> Por VEnv para una mejor web.
                        </div>
                    </div>
                </footer>
                {% endblock %}
            </div>
        </div>

	<!-- ARCHIVOS JS -->
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/js/material.min.js"></script>
    <!-- FIN DE ARCHIVOS JS -->

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	    <script src="/static/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	    <script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	    <script src="/static/js/material-kit.js" type="text/javascript"></script>

        <script type="text/javascript">

            $().ready(function(){
                // the body of this function is in assets/material-kit.js
                materialKit.initSliders();
                window_width = $(window).width();

                if (window_width >= 992){
                    big_image = $('.wrapper > .header');

                    $(window).on('scroll', materialKitDemo.checkScrollForParallax);
                }

            });
        </script>
    <!-- FIN DE SLIDER -->
</body>
</html>
